MultiEmu3D ICON "MultiEmu3D.ico"
PNG_FolderOpen_1x		RCDATA		"round_folder_open_black_18dp_1x.png"
PNG_FolderOpen_2x		RCDATA		"round_folder_open_black_18dp_2x.png"
PNG_DropDown_1x			RCDATA		"round_arrow_drop_down_black_18dp_1x.png"
PNG_DropDown_2x			RCDATA		"round_arrow_drop_down_black_18dp_2x.png"
PNG_Play_1x				RCDATA		"baseline_play_arrow_black_18dp_1x.png"
PNG_Play_2x				RCDATA		"baseline_play_arrow_black_18dp_2x.png"
PNG_Play_Disabled_1x	RCDATA		"baseline_play_arrow_gray_18dp_1x.png"
PNG_Play_Disabled_2x	RCDATA		"baseline_play_arrow_gray_18dp_2x.png"
PNG_Pause_1x			RCDATA		"baseline_pause_black_18dp_1x.png"
PNG_Pause_2x			RCDATA		"baseline_pause_black_18dp_2x.png"
PNG_Pause_Disabled_1x	RCDATA		"baseline_pause_gray_18dp_1x.png"
PNG_Pause_Disabled_2x	RCDATA		"baseline_pause_gray_18dp_2x.png"
PNG_Stop_1x				RCDATA		"baseline_stop_black_18dp_1x.png"
PNG_Stop_2x				RCDATA		"baseline_stop_black_18dp_2x.png"
PNG_Stop_Disabled_1x	RCDATA		"baseline_stop_gray_18dp_1x.png"
PNG_Stop_Disabled_2x	RCDATA		"baseline_stop_gray_18dp_2x.png"
PNG_3D_1x				RCDATA		"round_3d_rotation_black_18dp_1x.png"
PNG_3D_2x				RCDATA		"round_3d_rotation_black_18dp_2x.png"
